body {
  background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  font-family: "Poppins", sans-serif;
  border: 0;
  padding: 0;
  font-size: 20px;
  margin: 0;
 
}
body::after{
 content: "";
 background: rgba(27, 27, 50, 0.8);
 position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-attachment:fixed;
}


/* main {
  background-color: rgba(27, 27, 50, 0.8);
} */

header {
  text-align: center;
  color: white;
  margin: 50px auto;
}

form {
  width: 50%;
  margin: 0 auto;
  background-color: #1b1b32;
  display: block;
  padding: 50px 50px;
  border-radius: 5px;
  color: white;
}

textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

#name,
#email,
#number {
  display: block;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  margin: 10px auto 20px auto;
  padding-left: 10px;
}

#name-label,
#email-label,
#number-label {
  display: block;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  margin: 10px auto;
}

.dropdown-div label {
  display: block;
  margin: 20px auto;
}

.dropdown-div select {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px auto;

  padding-left: 10px;
}

.radio-option {
  margin: 10px auto;
}

.checkbox-div {
  margin: 10px auto;
}

.suggestion-div {
  margin: 50px auto 30px auto;
}

.suggestion-div > textarea {
  margin-top: 10px;
  padding-left: 10px;
}

#submit {
  background-color: #37af65;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  form {
    width: 100%;
    padding: 50px 50px;
    margin: 0 10px;
    box-sizing: border-box;
     
  }
}
